* {
	font-family: sans-serif;
}

body {
    background-image: url("fondo-fiveamstories.jpg"); /*Image by: @fiveamstories*/
    background-position: center;
    background-size: cover;
}

header{
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

#inscripcion{
    text-align: center;
    padding-top: 25px;
    margin: 0 100px 0;
}

#TipoCliente{
    margin-left: 175px;
    margin-top: 5%;

}

#Empresa{
    margin-left: 80px;
}

#PersonaNatural, #Empresa{
    float: left; 
    padding: 0px 20px 0;
}

#PersonaNatural, #Empresa, #inscripcion{
    background-color: rgba(255, 255, 255, 0.5);  
    border-radius: 10%;
}

#boton{
    clear: both;
    padding-top: 35px;
    padding-bottom: 25px;
}

button{
    height: 30px;
    width: 120px;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 10%;
    border-color: dimgray;
}

#logo{
    width: 170px;
    height: 110px;
    padding-right: 10px;
}